{% form_theme form 'ToaTwitterBootstrapBundle:Form:widgets.html.twig' %}

{% extends 'sonetrinDefaultBundle::layout.html.twig' %}
{% block content %}

<h1 class="page-header">{{ 'Search'|trans }} {{ 'creation'|trans }}</h1>

<form class="form-horizontal" action="{{ path('search_create') }}" method="post" {{ form_enctype(form) }}>
    
    <div class="control-group">
    {{ form_errors(form.name) }}
    
        {{ form_label(form.name, label|default(null), { 'label_attr': {'class': 'control-label'} }) }} 
        <div class="controls">
           {{ form_widget(form.name) }}
           <a id="help-btn" class="btn"
              rel="popover" data-placement="right" 
              data-content="Seperate search items by comma. Use hashtags (#), recipients (@) or plain tags.
                All items will be combined using 'AND'. If you want to exclude an item, use '-item'." 
              data-original-title="Help">
               <i class="icon-info-sign"></i>
           </a>
        </div>        
    </div>
    
    {{ form_rest(form) }}
        
    <p>
        <button class="btn" type="submit">
            <i class="icon-plus"></i>
            {{ 'create'|trans }}
        </button>
    </p>
</form>

    <a class="btn" href="{{ path('search') }}">
        <i class="icon-th-list"></i>
        {{ 'back to the list'|trans }}
    </a>

<script>
    $('#help-btn').popover();
    
</script>    

{% endblock %}