{% extends 'sonetrinDefaultBundle::layout.html.twig' %}
{% block content %}

<h1 class="page-header">{{ 'Search'|trans }}</h1>

<table class="record_properties table table-bordered table-condensed table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Language</th>
            <td>{{ entity.language }}</td>
        </tr>    
         <tr>
            <th>Social Networks</th>
            <td>
                {%for result in entity.result %}
                    {{result.socialNetwork.name}} 
                 {%endfor%}            
            </td>
        </tr>  
    </tbody>
</table>

<table class="record_properties table table-bordered table-condensed table-striped">
    <legend>Results</legend>
    <tr>
        <th>Created</th>
        <th>Updated</th>
        <th>Social Network</th>
        <th>Entries</th>
        <th>Log</th>
    </tr>
{%for result in entity.result %}
   <tr>
       <td> {{ result.createdAt|date('Y-m-d h:i') }}</td>
       <td> {{ result.updatedAt|date('Y-m-d h:i') }}</td>
       <td> {{ result.socialNetwork.name }} </td>
       <td> {{ result.item|length }} </td>
       <td><a class="btn btn-link" href="{{path('result_log', {'id' : result.id }) }}">Show</a></td>
   </tr>
{%endfor%}
</table>        


    <p>
        <a class="btn" href="{{ path('search_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil"></i>
            {{ 'edit'|trans }}
        </a>
    </p>

    <form action="{{ path('search_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">
            <i class="icon-trash"></i>
            {{ 'delete'|trans }}
        </button>
    </form>

    <a class="btn" href="{{ path('search') }}">
        <i class="icon-th-list"></i>
        {{ 'back to the list'|trans }}
    </a>

{% endblock %}