<div class="span12">
    <a href="#{{association}}-a" class="letter"> A </a>
    <a href="#{{association}}-b" class="letter"> B </a>
    <a href="#{{association}}-c" class="letter"> C </a>
    <a href="#{{association}}-d" class="letter"> D </a>
    <a href="#{{association}}-e" class="letter"> E </a>
    <a href="#{{association}}-f" class="letter"> F </a>
    <a href="#{{association}}-g" class="letter"> G </a>
    <a href="#{{association}}-h" class="letter"> H </a>
    <a href="#{{association}}-i" class="letter"> I </a>
    <a href="#{{association}}-j" class="letter"> J </a>
    <a href="#{{association}}-k" class="letter"> K </a>
    <a href="#{{association}}-l" class="letter"> L </a>
    <a href="#{{association}}-m" class="letter"> M </a>
    <a href="#{{association}}-n" class="letter"> N </a>
    <a href="#{{association}}-o" class="letter"> O </a>
    <a href="#{{association}}-p" class="letter"> P </a>
    <a href="#{{association}}-q" class="letter"> Q </a>
    <a href="#{{association}}-r" class="letter"> R </a>
    <a href="#{{association}}-s" class="letter"> S </a>
    <a href="#{{association}}-t" class="letter"> T </a>
    <a href="#{{association}}-u" class="letter"> U </a>
    <a href="#{{association}}-v" class="letter"> V </a>
    <a href="#{{association}}-w" class="letter"> W </a>
    <a href="#{{association}}-x" class="letter"> X </a>
    <a href="#{{association}}-y" class="letter"> Y </a>
    <a href="#{{association}}-z" class="letter"> Z </a>
</div>  






