{% extends 'sonetrinDefaultBundle::layout.html.twig' %}
{% block content %}

<ul class="breadcrumb">
    <li><a href="{{path('search')}}">Search</a> <span class="divider">/</span></li>
    <li class="active">Results</li>
</ul>
{#
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{{ 'Results'|trans }} for {{entity.name}} </h1>
    </div>
</header>
<hr />
#}
{% if entity.result|length > 0 %}

<div id="result-content">

    <div id="results-left" class="span6">
        <table class="table">
            <legend>Search Information for "{{entity.name}}"</legend>
            <tr>
                <td class="label-cell">Query:</td>
                <td>{{entity.name}}</td>
            </tr>
            <tr>
                <td class="label-cell">Language:</td>
                <td>{{entity.language}}</td>
            </tr>
            <tr>
                <td class="label-cell">Social Networks:</td>
                <td>
                    <table class="result-list">
                     {% for result in entity.result %}
                            <tr>
                                <td>{{result.socialNetwork.name}}</td>
                                <td>{{result.item|length}}</td>
                                <td>  
                                    <a title="show" class="btn btn-mini" href="{{ path('result_show', { 'id': result.id }) }}">
                                        <i class="icon-eye-open"></i>
                                    </a>
                                    <a title="remove" class="btn btn-mini btn-danger" href="{{path('result_delete',{'id':result.id} )}}" 
                                       onclick="return confirm('Really delete this result?')"> 
                                        <i class="icon-remove-sign"></i>
                                    </a>
                                    <a title="export" href="{{ path('analysis_exportResultAsCSV', { 'result' : result.id })}}" class="btn btn-mini btn-success"> 
                                        <i class="icon-download-alt"></i>
                                    </a>
                                </td>
                            </tr> 
                   {% else%}
                            No entries found.
                    {% endfor %}
                        </table>
                    </td>
                </tr> 
               <tr>
                <td class="label-cell">Sentiments:</td>
                <td>      
                    {% if sentimentCount['positive'] == 0 and sentimentCount['negative'] == 0%}
                                <a class="btn btn-mini btn-primary" id="analyzeResultsBtn"> 
                                    <i class="icon-screenshot"></i>
                                    Analyze Results
                                </a>   
                    {%else%} 
                                <a class="btn btn-mini btn-danger" id="removeSentimentsBtn"  onclick="return confirm('Really remove all sentiments for this search?')"> 
                                    <i class="icon-remove-sign"></i>
                                    Remove 
                                </a>
                   {%endif%}       
                        
                    <a href="{{path('analysis_exportSearchResultsAsCSV', {'search' : entity.id} )}}" class="btn btn-mini btn-success" id="exportSentimentsBtn"> 
                        <i class="icon-download-alt"></i>
                        Export all
                    </a>
 
                 </td>
              </tr>
            </table>
       
       {% if sentimentCount['positive'] != 0 and sentimentCount['negative'] != 0%}             
                <div id="graphs">

                    <div id="pie-graph">
                        <legend>Positive/Negative ratio</legend>
                        <img src="{{path('result_cake_graph', {'search': entity.id } )}}" />
                    </div>

                    <div id="bar-graph">
                        <legend>Sentiment analysis</legend>    
                        <div id="bar-interval" class="row">                                             
                            <select id="bar-scale" class="span2">
                                <option>day</option>
                                <option selected="selected">month</option>
                                <option>year</option>
                            </select>

                            <input placeholder="Start" class="span2" type="text" id="datepicker_start" />
                            <input placeholder="End"  class="span2" type="text" id="datepicker_end" />
                            <a class="btn" id="refreshBarGraphBtn"> 
                                <i class=" icon-refresh"></i>
                            </a>
                        </div>

                        <img id="bar-graph-image" src="{{path('result_bar_graph', {'search': entity.id, 'scale': 'month' } )}}" />
                    </div>                      
                </div>
         {%endif%}
            
        <div id="tagcloud">
         <legend>Tag Cloud</legend>    
        </div>
            
        <div id="loader" class="offset1">
            <img class="span2" src="{{asset('images/loader.gif')}}" />
        </div>
            </div>

            <div id="results-right" class="span5">
                <table id="wrapper" class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <a href="{{path('result',{'search' : entity.id})}}">mixed</a> - 
                                <a id="positive-filter" href="{{path('result',{'search' : entity.id, 'filter' : 'positive'})}}">positive</a> - 
                                <a id="negative-filter" href="{{path('result',{'search' : entity.id, 'filter' : 'negative'})}}">negative</a>
                            </td>
                        </tr>
                        <tr>                   
                            <th>Created</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                            {%for key,entity in randomItems %}
                                {%if key < 20 %}
                            <tr id="row-{{entity.id}}" {%if entity.sentiment == 'positive'%} class="positive-row" {%elseif entity.sentiment == 'negative'%} class="negative-row" {%endif%}>
                                <td>{{ entity.created| date('Y-m-d') }} <a href="{{entity.messageUrl}}">{{entity.author}}</a></td>
                                <td class="span2">{{ entity.message|slice(0,140) }}{% if entity.message|length > 140 %} [...]{%endif%}</td>
                                <td>  
                                    <button type="button" id="{{entity.id}}" class="close deleteMessageBtn">&times;</button>
                                </td>
                                </td>         
                            </tr>
                               {%endif%}
                            {% endfor %}        
                        </tbody>
                    </table>
                </div>
            </div>
{%else%}
            <p>Sorry, there are no results available! Maybe you should try a more generic search?</p>
{%endif%}

            <script>
                $('#loader').hide();                                        
              
                    $('#refreshBarGraphBtn').click(function() 
                    {                   
                        $('#error').remove(); 
                    
                        $('#bar-graph-image').fadeOut();
                    
                        var month =  $('#bar-scale option:selected').text();
                        var start = $('#datepicker_start').val()
                        var end   = $('#datepicker_end').val()
                    
                        var url = "/analysis/bar/{{entity.id}}/" + month;
                    
                        if(start != '' && end != '')
                        {
                            url += "/" + start + "/" + end;
                        }else if(start == '' && end != '')
                        {
                            url += "/0/" + end;
                        }else if(start != '' && end == '')
                        {
                            url += "/" + start;
                        }
                                                                                  
                         $('#bar-graph-image').attr('src',url);                  
                         $('#bar-graph-image').fadeIn();                              
                    });
                       
                    $('#analyzeResultsBtn').click(function()
                    {       
                        $.ajax({  
                        type: "POST",  
                        url: "{{path('result_analyze',{'search':entity.id} )}}",  
                        data: "",
                        beforeSend: function() {
                           $('#graphs').remove();
                           $('#analyzeResultsBtn').addClass('disabled');
                           $('#removeSentimentsBtn').addClass('disabled');
                           $('#loader').show();
                        },
                        complete: function(){
                           $('#analyzeResultsBtn').removeClass('disabled');
                           $('#removeSentimentsBtn').removeClass('disabled');
                           $('#loader').hide();
                        },
                    
                        success: function(msg){
                           window.location.reload();
                        }  
                         });  
        
                      });
                   
                    $('#removeSentimentsBtn').click(function()
                    {       
                        $.ajax({  
                        type: "POST",  
                        url: "{{path('result_removeSentiments',{'search':entity.id} )}}",  
                        data: "",
                        beforeSend: function() {
                           $('#graphs').remove();
                           $('#analyzeResultsBtn').addClass('disabled');
                           $('#removeSentimentsBtn').addClass('disabled');
                           $('#loader').show();
                        },
                        complete: function(){
                           $('#analyzeResultsBtn').removeClass('disabled');
                           $('#removeSentimentsBtn').removeClass('disabled');
                           $('#loader').hide();
                        },
                        success: function(msg){
                            window.location.reload();
                        }  
                         });       
                     
                    });      
       
                 $('.deleteMessageBtn').click(function()
                 {     
                     var item = this.id;
                 
                     $.ajax({  
                        type: "GET",  
                        url: "/results/deleteItem/item/" + item,
                        success: function(msg){
                           $("#row-" + item).remove();
                        }  
                         });  
                 });
                 
                 $(function()
                 {
                     $.ajax({  
                        type: "POST",  
                        url: "{{path('analysis_generateTagcloud',{'search':entity.id} )}}",  
                        beforeSend: function() {
                           $('#loader').show();
                        },
                        complete: function(){
                           $('#loader').hide();
                        },
                        success: function(result){
                           //tag cloud erstellen und einfügen                          
                           var tagcloud = '<section class="section"><p class="tags">';
                           
                           for(var item in result)
                           {
                                tagcloud += '<span class="weight-' + result[item] + '">' + item +  '</span> ';
                           }
                           tagcloud += '</p></section>';
                           $('#tagcloud').append(tagcloud);
                        },
                         error: function (xhr, ajaxOptions, thrownError) {
             
                            var msg = '<div>No Tag Cloud available.</div>';       
                            $(msg).insertAfter($('#loader'));
                         }
                         });       
                     
                 });
                   
                </script>    

{% endblock %}