{% extends 'sonetrinDefaultBundle::layout.html.twig' %}
{% block content %}

<ul class="breadcrumb">
    <li><a href="{{path('search')}}">Search</a> <span class="divider">/</span></li>
    <li><a href="{{path('result',{'search':entity.search.id})}}">Results</a> <span class="divider">/</span></li>
    <li class="active">Show ({{entity.socialNetwork.name}})</li>
</ul>

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>{{ 'Show Results'|trans }}</h1>
        <p class="lead">Take a look inside the saved entries for "{{entity.search.name}}"...</p>
    </div>
</header>
<hr />

 <p>Displaying entries 1-{{count}} / {{items|length}}</p> 

<table id="wrapper" class="record_properties table table-bordered table-condensed">
    <tbody>
        <tr>
           <td colspan="4">
               <a href="{{path('result_show',{'id' : entity.id})}}">mixed</a> - 
               <a id="positive-filter" href="{{path('result_show',{'id' : entity.id,'count' : count, 'filter' : 'positive'})}}">positive</a> - 
               <a id="negative-filter" href="{{path('result_show',{'id' : entity.id,'count' : count, 'filter' : 'negative'})}}">negative</a> - 
               <a href="{{path('result_show',{'id' : entity.id, 'count' : count, 'filter' : 'random'})}}">random</a>
               <a title="show log" href="{{ path('result_log', { 'id' : entity.id })}}" class="btn btn-mini"> 
                  <i class="icon-book"></i>
               </a>
               <a title="export" href="{{ path('analysis_exportResultAsCSV', { 'result' : entity.id })}}" class="btn btn-mini btn-success"> 
                  <i class="icon-download-alt"></i>
               </a>
           </td>
       </tr>
                        
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>User</th>
            <th>Message</th>
        </tr>
        
        {%for key,entity in items %}
            {%if key < count %}
            <tr id="row-{{entity.id}}">
                <td>{{key+1}}</td>
                <td style="white-space:nowrap;">{{ entity.created| date('Y-m-d') }}</td>
                <td><a href="{{entity.messageUrl}}">{{entity.author}}</a></td>
                <td {%if entity.sentiment == 'positive'%}
                    class="positive-row" 
                    {%elseif entity.sentiment == 'negative'%} 
                    class="negative-row" 
                    {%endif%}>{{ entity.message }}

                   <button type="button" id="{{entity.id}}" class="close deleteMessageBtn">&times;</button>
                </td>
                </div>
             </tr>
            {%endif%}
        {%endfor%}

        {%if entity %}
        <tr>
            <td colspan="3"><a href="{{ path('result_show', { 'id': entity.id,'count':count+20 }) }}">Show 20 more results</a></td>
        </tr>   
        {%endif%}
    </tbody>
</table>

<a href="#" class="back-to-top" onclick="goToByScroll('top')">
    <i class="icon-chevron-up icon-white"></i><br />
    Back to <br />Top
</a>   

<script>
     
function goToByScroll(id){
 $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
}


$(document).ready(function() 
{
        $('.back-to-top').addClass('hidden');
        $.waypoints.settings.scrollThrottle = 50;
        $('#wrapper').waypoint(function(event, direction) 
        {
                $('.back-to-top').toggleClass('hidden', direction === "up");
        });
        
        $('.deleteMessageBtn').click(function()
             {     
                 var item = this.id;
                 
                 $.ajax({  
                    type: "GET",  
                    url: "/results/deleteItem/item/" + item,
                    success: function(msg){
                       $("#row-" + item).remove();
                    }  
                     });  
             });
});

    </script>

{% endblock %}