{% extends 'ToaTwitterBootstrapBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    {% block head_style %}
        {% stylesheets 
            '@sonetrinDefaultBundle/Resources/public/css/*' 
            '@sonetrinDefaultBundle/Resources/public/js/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
    {% endblock head_style  %}
                                    
{% endblock %}
                 
{% block title %}
    sonetrin - a social network trend indicator
{% endblock title%}
    
        
{% block body %}
    
 {% block navbar %}
   <div id="top"></div>    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                 </button>
                <a class="brand" href="{{ path('default_index') }}">sonetrin</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li {% if 'default_index' in app.request.attributes.get('_route') %} class="active" {%endif%}><a href="{{ path('default_index') }}">Start</a></li>
                        <li {% if  'search' in app.request.attributes.get('_route') or 'result' in app.request.attributes.get('_route')  %} 
                            class="active" {%endif%}><a href="{{ path('search') }}">Search</a></li>
                        <li {% if 'keyword' in app.request.attributes.get('_route') or 'social' in app.request.attributes.get('_route') or 'cronjob' in app.request.attributes.get('_route') %} class="active" {%endif%} class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Settings
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('keyword_index') }}">Keywords</a></li>
                                <li><a href="{{ path('socialnetwork') }}">Social Networks</a></li>
                                <li><a href="{{ path('cronjob') }}">Data Collection Cronjobs</a></li>
                            </ul>
                        </li>                       
                        <li {% if 'default_about' in app.request.attributes.get('_route') %} class="active" {%endif%}><a href="{{ path('default_about') }}">About</a></li>
                        <li>
                            <form method="post" action="{{ path('search_shortQuery') }}" class="navbar-search pull-left">
                                <input type="text" class="search-query" placeholder="Search" name="query">
                            </form>
                        </li>
                        </ul>
                </div>
            </div>
        </div>       
    </div>
    {% endblock navbar %}
    
    <div class="container fluid">
        <h1>
           {% block headline %}{% endblock headline %}
        </h1>
                
           
         {%block subhead%}{%endblock subhead%}
         
         <div class="content">
            {%block flash%}
                            
               {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="{{ type }}">
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            
            {%endblock flash %}

              {% block content %}{% endblock content %}
        </div>
 
    </div>
            
{% endblock body %}
   
   
    {% block javascripts %}
        {% javascripts 
            '@sonetrinDefaultBundle/Resources/public/js/jquery-1.8.3.min.js' 
            '@sonetrinDefaultBundle/Resources/public/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js' 
            '@sonetrinDefaultBundle/Resources/public/js/waypoints/waypoints.min.js' 
            '@ToaTwitterBootstrapBundle/Resources/public/twitterbootstrap/docs/assets/js/bootstrap.js'
            '@sonetrinDefaultBundle/Resources/public/js/frontend.js' 
           %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    
    {% endblock javascripts%}


